section {
    display: flex;
    justify-content: center;
}

section>div:nth-child(1) {
    margin-top: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
}

section>div>img {
    cursor: pointer;
}

section>div>h1 {
    font-family: monospace, Arial;
    text-transform: uppercase;
    color: #222;
}

section>div:nth-child(2) {
    position: absolute;
    margin-top: 350px;
}